body{
  background-color: #D2691E;
}
.header{
  overflow: hidden;
  border-radius: 4px;
  background-color: #f1f1f1;
  margin-top:10px;
  margin-bottom:10px;
}
.header a img {
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 60px;
  padding-left: 5px;
  padding-right: 2px;
}
.header a {
  float:left;
  font-size: 40px;
  color: Green;
  padding-top:10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  font-family: sans-serif;
  text-decoration: none;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  margin-top: : 20px;
  margin-bottom: 20px;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.mainarea{
  background-color: #f1f1f1;
  padding: 5px;
  margin-bottom: 20px;
  border-color: black;
  border-width: thick;
}
.mainarea img{
  align-items :center;
  width: 350px;
  border: 1px solid #ddd;
}

.footer {
  background-color: #f1f1f1;
  padding: 60px;
  text-align: center;
  margin-bottom: 30px;
}
