<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Crew </title>
    <link href="./style.css" rel="stylesheet">
</head>

<body>

    <!--- navigation start---->
    <div class="navbar">
        <div class="nav_logo">
            <a href="/"> <img src="/logos/mealcrewmain1.png" alt="LOGO" /> </a>
        </div>
        <div class="nav_menu"> <a href="/">Home</a>
            <a href="/latest_recipe">Latest recipe</a>
            <div class="dropdown">
                <button class="dropbtn">Cuisine<i class="fa fa-caret-down"></i></button>
                <div class="dropdown-content">
                    <a href="#">Indian</a>
                    <a href="#">Korean</a>
                    <a href="#">Brazilian</a>
                    <a href="#">Venezualan</a>
                </div>
            </div>
            <div class="loginbtn">
                <a href="/login">LOGIN</a>
                <a href="/signup">SIGN UP</a>

            </div>
        </div>
    </div>
    <!---Navigation Finish--->

    <!---Internal Content  start--->
    <div class="mainarea">
        <h1>Welcome to MealCrew</h1>

        <center>
            <div class="mtopimg">
                <img src="https://www.npp.ie/wp-content/uploads/2019/07/Cooking-compressor.jpg" alt="main img top" />
            </div>
            <h1>Receipe Gallery</h1>
            <div class="submain">
                <img src="https://www.bbcgoodfood.com/sites/default/files/recipe-image-legacy-id-1071471_11.jpg" alt="foodimg" />
                <img src="https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe/recipe-image/2019/12/sausage-leek-mash-pie.jpg?itok=LUvzdRpk" alt="foodimg" />
                <img src="https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe_images/recipe-image-legacy-id--1069627_10.jpg?itok=wSl4oLOF" alt="foodimg" />
                <img src="https://www.bbcgoodfood.com/sites/default/files/recipe-collections/collection-image/2013/05/chorizo-mozarella-gnocchi-bake-cropped.jpg" alt="foodimg" />
                <img src="https://cdn.jamieoliver.com/home/wp-content/uploads/2016/06/2.jpg" alt="foodimg" />
                <img src="https://i.ndtvimg.com/i/2016-06/chinese-625_625x350_81466064119.jpg" alt="foodimg" />
                <img src="https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe_images/recipe-image-legacy-id--513754_11.jpg?itok=DMu_wROH" alt="foodimg" />
            </div>


        </center>

    </div>

    <div class="maps">

        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d76247.92037117376!2d-6.275100177983005!3d53.329873976305656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sgrocery%20stores%20near%20me!5e0!3m2!1sen!2sie!4v1587250518310!5m2!1sen!2sie"
            width="100%" height="450" frameborder="0" style="border:0;" aria-hidden="false" tabindex="0"></iframe>

    </div>
    <!---Internal Content  Finish--->

    <!---Footer start--->
    <div class="footer">

        <div class="copyright">
            <center>
                <img src="../logos/mealcrewmain1.png" alt="mealcrewlogo" />
                <p>&copy; 2019-2020 MealCrew</p>
            </center>

        </div>
    </div>
    <!---Footer Finish--->


</body>

</html>