<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Crew </title>
    <link href="./style.css" rel="stylesheet">
</head>

<body>
    <!---Header start
    <div class="header">
        <img src="logos/mealcrewclearzip.png" alt="LOGO"/>
      </div>
      Header finish --->

    <!--- navigation start---->
    <div class="navbar">
        <img src="/logos/mealcrewclearzip.png" alt="LOGO" />
        <a href="/">Home</a>
        <a href="/latest_recipe">Latest recipe</a>
        <div class="dropdown">
            <button class="dropbtn">Categories
                <i class="fa fa-caret-down"></i></button>
            <div class="dropdown-content">
                <a href="#">Indian</a>
                <a href="#">Korian</a>
                <a href="#">Brazilian</a>
                <a href="#">Venezuala</a>
            </div>
        </div>
        <!--        Search bar        -->




        <div class="loginbtn">
            <a href="/login">LOGIN</a>
            <a href="/signup">SIGN UP</a>

        </div>

    </div>
    <!---Navigation Finish--->

    <!---Internal Content  start--->
    <div class="mainarea">
        <h1>Receipe Gallery</h1>
        <script>
            document.getElementById("myForm").onsubmit = (e) => {
                e.preventDefault();
                const url = "http://localhost:5000/crewMembers";
                var data = new URLSearchParams();
                for (const pair of new FormData(e.target)) {
                    // console.log(pair)
                    data.append(pair[0], pair[1])
                }
                fetch(url, {
                        method: "post",
                        body: data,

                    }).then(res => res.json())
                    .then(res2 => {
                        console.log(res2)
                        location.reload()
                    });
            }
        </script>


    </div>

    <div class="maps">

        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d76247.92037117376!2d-6.275100177983005!3d53.329873976305656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sgrocery%20stores%20near%20me!5e0!3m2!1sen!2sie!4v1587250518310!5m2!1sen!2sie"
            width="100%" height="450" frameborder="0" style="border:0;" aria-hidden="false" tabindex="0"></iframe>

    </div>
    <!---Internal Content  Finish--->

    <!---Footer start--->
    <div class="footer">

        <div class="copyright">
            <center><img src="../logos/mealcrewclearzip.png" alt="mealcrewlogo" />
                <p>&copy; 2019-2020 MealCreaw</p>
            </center>

        </div>
    </div>
    <!---Footer Finish--->


</body>

</html>