<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Crew </title>
    <link href="./style.css" rel="stylesheet">
</head>

<body>


    <!--- navigation start---->
    <div class="navbar">
        <a href="/"> <img src="/logos/mealcrewmain1.png" alt="LOGO" /> </a>
        <a href="/">Home</a>
        <a href="/latest_recipe">Latest recipe</a>
        <div class="dropdown">
            <button class="dropbtn">Cuisine<i class="fa fa-caret-down"></i></button>
            <div class="dropdown-content">
                <a href="#">Indian</a>
                <a href="#">Korean</a>
                <a href="#">Brazilian</a>
                <a href="#">Venezualan</a>
            </div>
        </div>




        <div class="loginbtn">
            <a href=signup>SIGN UP</a>
        </div>

    </div>
    <!---Navigation Finish--->

    <!---Internal Content  start--->
    <div class="mainarea">
        <center>
            <div class="register_top_text">
                <h3>LOGIN</h3>
            </div>
            <div class=div_main_form>
                <form id="myloginForm">

                    <label for="e_mail">Email Address</label><br/>
                    <input type="text" name="email" placeholder="Enter Email"><br/>
                    <label for="p_word">Passsword</label><br/>
                    <input type="password" name="password" placeholder="Enter password"><br/>
                    <button type="submit" class="waves-effect waves-light btn">Login</button>
                </form>
            </div>
        </center>
    </div>

    <script>
        document.getElementById("myloginForm").onsubmit = (e) => {
            e.preventDefault();
            const url = "http://localhost:5000/users";
            var data = new URLSearchParams();
            for (const pair of new FormData(e.target)) {
                // console.log(pair)
                data.append(pair[0], pair[1])
            }
            fetch(url, {
                    method: "post",
                    body: data,

                }).then(res => res.json())
                .then(res2 => {
                    console.log(res2);
                    location.reload()
                });
        }
    </script>


    </div>


    <!---Internal Content  Finish--->

    <!---Footer start--->
    <div class="footer">

        <div class="copyright">
            <center>
                <img src="../logos/mealcrewmain1.png" alt="mealcrewlogo" />
                <p>&copy; 2019-2020 MealCrew</p>
            </center>

        </div>
    </div>
    <!---Footer Finish--->


</body>

</html>