<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Crew </title>
    <link href="./style.css" rel="stylesheet">
</head>

<body>
    <!---Header start
    <div class="header">
        <img src="logos/mealcrewclearzip.png" alt="LOGO"/>
      </div>
      Header finish --->

    <!--- navigation start---->
    <div class="navbar">
        <img src="/logos/mealcrewclearzip.png" alt="LOGO" />
        <a href="/">Home</a>
        <a href="/latest_recipe">Latest recipe</a>
        <div class="dropdown">
            <button class="dropbtn">Categories
                <i class="fa fa-caret-down"></i>
              </button>
            <div class="dropdown-content">
                <a href="#">Indian</a>
                <a href="#">Korian</a>
                <a href="#">Brazilian</a>
                <a href="#">Venezuala</a>
            </div>
        </div>
        <!--        Search bar        -->
        <!-- Search form -->

        <div class="loginbtn">
            <a href="login">LOGIN</a>
        </div>

    </div>
    <!---Navigation Finish--->

    <!---Internal Content  start--->
    <div class="mainarea">



        <H1> ALL RECIPES</h1>



    </div>
    <div class="page_all">
        <center>
            <p id="app"></p>
        </center>
    </div>
    </div>


    <!---Internal Content  Finish--->

    <!---Footer start--->
    <div class="footer">

        <div class="copyright">
            <center><img src="../logos/mealcrewclearzip.png" alt="mealcrewlogo" />
                <p>&copy; 2019-2020 MealCreaw</p>
            </center>

        </div>
    </div>
    <!---Footer Finish--->


</body>
<script>
    function fetchData() {
        const fact_url = 'https://mealcrew.herokuapp.com/recipe';
        fetch(fact_url).then(response => {
                console.log(response);
                if (!response.ok) {
                    throw Error("Error");
                }
                return response.json();
            })
            .then(data => {
                console.log(data);
                var x;
                const html = data.map(facts => {
                        x = facts.ingredients.toString();
                        return `
                    <div class="all_recipe_items">
                            
                    <div class ="_recipe_title">
                            <H3>Title :${facts.title} </h3> 
                                <H3>${facts.cuisine}</H3>
                    </div>
					      <div class="ingd_1">  
				        	<h3>Ingredients:</h3>
                            <p>${x}</p>
                            </div>
                    <div class="prep_1">
                            <h3>Instructions :</h3> 
                            <p>${facts.instructions}</p>
                    </div>

					<a href="${facts.URL}">${facts.URL}</a>
                    
                     </p>
                    </div> `;

                    })
                    .join("");
                console.log(html);
                document.querySelector("#app").insertAdjacentHTML("beforeend", html);

            })
            .catch(error => {
                console.log(error);
            });
    }

    fetchData();
</script>

</html>